.DS_Store

deployed-addresses.json

abi/
gas-usage.txt
node_modules

README-local.md
test-accounts.txt

artifacts/
cache/

test/


.env.development
.env.production
.env.test

scripts/send-sepolia.js
scripts/signatures.js